.git
.gitignore
README.md

**/env.development
**/env.test
**/env.staging
**/env.production

.env
.env.sample

*.rbc
capybara-*.html
.rspec
log
tmp/*

.bundle
vendor

db/*.sqlite3
db/*.sqlite3-journal
public/system
coverage/
spec/tmp
**.orig
rerun.txt
pickle-email-*.html

public/cache
public/stylesheets/compiled
public/system/*
public/assets/*
public/packs/*
public/packs-test

node_modules
