# App image
DATABASE_URL=postgres://pa_dashboard:password@postgres/pa_dashboard

REDIS_URL=redis://:password@redis:6379

# Redis image
REDIS_PASSWORD=password
REDIS_DISABLE_COMMANDS=FLUSHDB,FLUSHALL,CONFIG

# PostgreSQL image
POSTGRES_USER=pa_dashboard
POSTGRES_PASSWORD=password
POSTGRES_DB=pa_dashboard
